table {
      width: 400px;
      height: 400px;
      /* インライン要素を中央に配置 */
      text-align: center;
      /* 余白調整 */
      margin: 0px;
    }
 
 #result {
      height: 60px;
      width: 100%;
      background-color: black;
      color:white;
      text-align: right;
      font-size: 30px;
 }
 
  .button {
      width: 120px;
      height: 60px;
      font-size: x-large;
      background-color: #dcdcdca4;
      border: none;
      border-radius: 20px;
      border-color:black;
    }
    
  .display {
      width: 480px;
      text-align: right; /* 文字を右詰めに */
      background: black;
      border-radius: 0px;
    }
    
  .button:active {
      border-color: blue;
      border-style: solid;
    }
  .button_ac:active {
      border-color: blue;
      border-style: solid;
    }
   .button_equal:active {
      border-color: blue;
      border-style: solid;
    }
    
  .button_ac{
      width: 240px;
      height: 60px;
      font-size: x-large;
      background-color: #dcdcdca4;
      border: none;
      border-radius: 20px;
      border-color:black;
    }
    
  .button_equal{
      width: 240px;
      height: 60px;
      font-size: x-large;
      background-color: #dcdcdca4;
      border: none;
      border-radius: 20px;
      border-color:black;
    }
。
